body {
  margin: 0;
  padding: 0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 200px;
      grid-template-rows: 70px 200px;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.header-top {
  display: -ms-grid;
  display: grid;
  border: 1px solid #000;
  height: 70px;
}

.header-top input {
  z-index: 99;
  width: 150px;
  height: 50px;
}

.modal {
  position: absolute;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  top: 0;
  left: 200%;
  width: 30%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.5);
}

.modal-blur {
  display: none;
  position: absolute;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.1);
  background-size: cover;
}
