@media screen and (min-aspect-ratio: 4/3)
{
    .main
    {
        width: 133.33vh;
        height: 100vh;
    }
    .actionWindow
    {
        width: 133.33vh;
        height: 100vh;
    }
}
:root{
    --up: red;
    --magazineColor: blue;
    --bfc: yellow;
};
body
{
    margin: 0;
    padding: 0;
}

#full
{
    position: fixed;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    background: -webkit-gradient(linear, left top, left bottom, from(#d9c7b8), to(#d9c7b8));
    background: -webkit-linear-gradient(top, #d9c7b8 0%, #d9c7b8 100%);
    background:      -o-linear-gradient(top, #d9c7b8 0%, #d9c7b8 100%);
    background:         linear-gradient(to bottom, #d9c7b8 0%, #d9c7b8 100%);
    background-repeat: no-repeat;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main
{
    position: relative;

    width: 72vw;
    height: 47vw;

    border: 1px solid #000;
}

.celss
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.celssAround1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.celssAround2
{
    background: #8c7b74;
}
.filed-left .celss:nth-child(n+2):nth-child(-n+10)
{
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.filed-left .celss:nth-child(1) .celssAround1
{
    width: 100%;
}
.filed-left .celss:nth-child(n+2):nth-child(-n+10) .celssAround2
{
    width: 20%;
    height: 100%;

    border-left: 1px solid #000;
    /*background: var(--up);*/
}
.filed-left .celss:nth-child(n+2):nth-child(-n+10) .celssAround1
{
    width: 80%;
    height: 100%;

    border-left: 0 solid #000;
    /*background: var(--magazineColor);*/
}
.filed-right .celss:nth-child(n+2):nth-child(-n+10) .celssAround2
{
    width: 20%;
    height: 100%;

    border-right: 1px solid #000;
    /*background: var(--up);*/
}
.filed-right .celss:nth-child(n+2):nth-child(-n+10) .celssAround1
{
    width: 80%;
    height: 100%;

    border-right: 0 solid #000;
    /*background: var(--magazineColor);*/
}
.filed-left .celss:nth-child(11)
{
    border-top: 1px solid #000;
}

.celss:nth-child(11) .celssAround1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    height: 100%;
    /*background: var(--bfc);*/

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.filed-right .celss:nth-child(n+2):nth-child(-n+10)
{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.filed-right .celss:nth-child(11)
{
    border-top: 1px solid #000;
}
.filed-left .celss:nth-child(1):nth-child(11)
{
    border-right: 0 solid #000;
}

.filed-top .celss:nth-child(n+1)
{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.filed-top .celss .celssAround1
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.filed-top .celss:nth-child(9)
{
    border-right: 1px solid #000;
}
.filed-top .celss:nth-child(n+1) .celssAround1
{
    width: 100%;
    height: 80%;

    border-right: 1px solid #000;
    /*background: var(--magazineColor);*/
}
.filed-top .celss:nth-child(n+1) .celssAround2
{
    width: 100%;
    height: 20%;

    border-top: 1px solid #000;
    /*background: var(--up);*/
}
.filed-bottom .celss:nth-child(n+1)
{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.filed-bottom .celss:nth-child(n+1) .celssAround1
{
    width: 100%;
    height: 80%;

    border-right: 1px solid #000;
    /*background: var(--magazineColor);*/
}
.filed-bottom .celss:nth-child(n+1) .celssAround2
{
    width: 100%;
    height: 20%;

    border-bottom: 1px solid #000;
    /*background: var(--up);*/
}
.filed-bottom .celss:nth-child(9) .celssAround2
{
    border-right: 1px solid #000;
    /*background: var(--up);*/
}
.filed-bottom .celss .celssAround1
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.main .filed
{
    position: absolute;

    display: -ms-grid;
    display:     grid;

    width: 100%;
    height: 100%;

    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.main .filed .filed-players
{
    border: 0 solid #000;

    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
        grid-column: 1 /2;
}

.main .filed .filed-game
{
    display: -ms-grid;
    display:     grid;

    border: 0 solid #000;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
        grid-column: 2 /3;
    -ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.filed-left
{
    display: -ms-grid;
    display:     grid;

    border-left: 1px solid #000;

    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
        grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
        grid-row: 1 / 4;
    -ms-grid-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.filed-top
{
    display: -ms-grid;
    display:     grid;

    border: 0 solid #000;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.filed-top .celss
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.filed-right
{
    display: -ms-grid;
    display:     grid;

    border: 0 solid #000;

    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
        grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
        grid-row: 1 / 4;
    -ms-grid-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.filed-bottom
{
    display: -ms-grid;
    display:     grid;

    border: 0 solid #000;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
        grid-row: 3 / 4;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.filed-bottom .celss
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.filed-center
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
        grid-row: 2 / 3;
}
.filed-center input
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 50%;
    height: 10%;
}

.avatar
{
    width: 0;
    height: 0;
    margin: 3% 10%;

    border: 1px solid transparent;
}

#moveBtn
{
    width: 100%;
}
.filed-players
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.filed-players div
{
    width: 100%;
    min-width: 50%;
    min-height: 20%;
}
.infoPlayer
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.money
{
    font-size: 2vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
div .menu
{
    position: absolute;
    right: 1%;
    top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 9%;
    min-width: 0;
    height: 20%;
    min-height: 0;

    border: 1px solid #000;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: contain;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: stretch;
}
div .menu .close{
    position: relative;
    font-size: 2vw;
}
div .face
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border: 1px solid #000;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*    background-image: url(../image/apple.png);*/

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.name
{
    font-size: 2vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.empty
{
    font-size: 1.5vw;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    text-align: center;

    border: 1px solid #000;
    border-radius: 200px;
    -webkit-box-shadow: 0 0 1px 1px #000;
            box-shadow: 0 0 1px 1px #000;
}
#buttonMove
{
    z-index: 1;
    font-size: 1.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
}
.chat
{
    font-size: 1.5vw;

    position: absolute;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column-reverse;

    width: 40%;
    height: 60%;

    border: 1px solid #000;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
}
.animated
{
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
}
.chatForm
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    height: 7%;
    padding: 1%;

    border-top: 1px solid #000;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
.chatLogs
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
        flex-direction: column;

    height: 93%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.messageForm
{
    display: block;

    margin: 2% 5%;

    border: 1px solid green;
    border-radius: 15px;
}
.messageForm:nth-child(1)
{
    margin-top: 12%;
}
.myMsg
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row-reverse;

    width: 85%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
}
.myMsgProp
{
    position: relative;
    right: 6%;
}
.otherMsg
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 85%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
.messageLogo
{
    position: absolute;

    width: 10%;
    height: 10%;
    margin: 2%;

    border: 1px solid #000;
    border-radius: 100%;
    background: yellow;
}
.message
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 18% 6% 6% 6%;

    word-break: break-word;

    overflow-wrap: break-word;
}
.button
{
    font-size: 1.3vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 20%;
    margin-left: 3%;

    border: 1px solid #000;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.textArea
{
    overflow: none;

    width: 70%;
    padding: 1% 1% 1% 4%;

    resize: none;
    text-decoration: none;

    outline: none;
}
.actionWindow
{
    position: absolute;

    display: -webkit-box;
    display: -ms-flexbox;
    /*display: none;*/
        flex-direction: column;

    width: 28vw;
    height: 19vw;

    border: 1px solid #000;
    background: #aaa;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.textWindow
{
    font-size: 1.5vw;

    padding: 15% 10% 10% 10%;
}
.actionButton
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    height: 40%;

    border-top: 1px solid #000;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.btn
{
    font-size: 1.8vw;

    z-index: 11;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 35%;
    margin: 5%;

    border: 1px solid #000;
    background: #aba;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.btn:hover
{
    background: #aaa;
}
