body {
  margin: 0;
  padding: 0;
}

.test {
  display: grid;
  margin: 30px;
  border: 0px solid #000;
  grid-template-columns: 1fr;
  height: 50px;
  grid-template-rows: 1fr;
}

.test .test2 {
  display: grid;
  margin: 20px;
  border: 0px solid #000;
  width: 1px;
  height: 1px;
}

.test .test2 .test3 {
  position: absolute;
  top: 500px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
}

.test .test2 .test4 {
  border: 1px solid #000;
  position: relative;
  top: 20px;
  left: 20px;
}
